
doctype html
html
  head
    title= title
    
    script(src="/deps/jquery/jquery.min.js")
    script(src="/javascripts/game.js")

    link(rel='stylesheet', href='/stylesheets/game.css')

  body
    .game-body
        .board
        .stats
            .players
                .playerX
                    .name= "Anonymous"
                    .points= "0"
                .playerO
                    .name= "Anonymous"
                    .points= "0"
            center
                button.restart_btn(onClick="restart()", disabled)="Restart"